{
  "parser": "@typescript-eslint/parser",
  "extends": ["next", "prettier", "eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["prettier", "eslint-plugin-import-helpers", "@typescript-eslint"],
  "rules": {
	"prettier/prettier": "error",
	"react/display-name": "off",
	"@typescript-eslint/no-explicit-any": "off",
    "react/function-component-definition": ["error", { "namedComponents": "arrow-function" }],
    "import-helpers/order-imports": [
			"warn",
			{
				"newlinesBetween": "always",
				"groups": [
					["/^react/", "/^next/"],
					"module",
					"/^@chakra/",
					"/^components/",
					"/^hooks/",
					"/^./components/",
					"/^./hooks/",
					"/^services/",
					"/^layouts/",
					["/^styles/", "/^./styles/"],
					"/^types/",
					["parent", "sibling", "index"]
				],
				"alphabetize": { "order": "asc", "ignoreCase": true }
			}
		]
  }
}
